
p. h5{
  text-align: justify;
}

h3{
  text-align: center;
}

ul li::marker {
  color: black;
  font-size: 1.5em;
}

hr{
  border-color:black;
}

h4{
  text-transform: uppercase;
}

#volleyball{
  display:block;
  margin:auto;
}


.el {
  margin-bottom: 2px;
  background-color: #cceeee;

}

.el-3 {
  background-clip: content-box, padding-box;
}

.card-title, h1 {
  text-align: center;
}
.card-text{
  text-align: justify;
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
}


.navbar{
  background-color: #e3f2fd;
}